server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: stocksy

  datasource:
    url:  ${ORACLE_URL:jdbc:oracle:thin:@localhost:1521/FREEPDB1}
    username: ${ORACLE_USERNAME:system}
    password: ${ORACLE_PASSWORD:123456}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: update

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}

  cache:
    type: redis
    redis:
      cache-null-values: false

#logging:
#  level:
#    org.springframework: DEBUG